table, tr, td {
    all: unset;
}
.table tbody {
    display: grid;
    grid-template-columns: max-content 1fr;
    width: 100%;
}

.row {
    display: contents;
}

.cell {
    overflow-x: auto;
}

.left-col {
    font-weight: 500;
    white-space: nowrap;
    padding-right: 3px;
}

.right-col .scrollable {
    overflow-x: auto;
    white-space: nowrap;
}