h2 {
    margin: 0.5rem 0;
}

.models-container, .exciting-models {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.delete-button {
    border: 1px solid #dc0000;
    background: #ffdfdf;
    color: #dc0000;
}

.model-buttons {
    justify-content: space-between;
}

.button-group {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}