* {
  box-sizing: border-box;
}

:root {
  --accent-color: rgb(37 89 196);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F2F2F2;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

input, select {
  width: 100%;
  border: 1px solid var(--accent-color);
}

button, input, select {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

button {
  border: none;
  background: rgb(37, 89, 196, 0.1);
}

button:hover {
  background: rgb(37, 89, 196, 0.3);
}

.App {
  font-size: 16px;
}

.service-container {
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.service-input {
  width: 100%;
  display: flex;
  gap: 5%;
  align-items: center;
}

.service-info {
  width: 100%;
  position: relative;
}

.button-group {
  display: flex;
  gap: 20px;
  margin: 0.5rem 0;
}