h2, h3, p {
    margin: 0 !important;
}

p {
    font-size: 16px;
}
.service-info-container {
    width: 100%;
}

.main-service-info-container {
    display: flex;
    gap: 20px
}

.main-service-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.groups-container {
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.group {
    border: solid 1px var(--accent-color);
    padding: 10px;
    border-radius: 8px;
}

.service-image-container {
    max-height: 100px;
    max-width: 100px;
}

.service-image-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.loader {
    height: 280px;
}

.pricing-info-table th, 
.pricing-info-table td{
    min-width: 150px;
    text-align: left;
}

.info-card {
    width: 60%;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 15px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 1px var(--accent-color);
}

@media(max-width: 768px) {
 .groups-container {
    grid-template-columns: 1fr;
 }
}